<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Delete Recipe</title>
</head>
<body>
<form action="/dellRecipe">
    <select name="name">
        <option th:each="name:${names}" th:text="${name}"></option>
    </select>
    <input type="submit" value="delete">
</form>
<form action="/">
    <input type="submit" value="назад к поиску">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script>
    $.ajax({
        url: "/",
        type: "GET",
        contentType: "html"
    });
</script>
</body>
</html>